<!DOCTYPE html>

<html>
    <head>
        <title>REPORRTE DE VIAJES</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <!-- ICONOS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <!-- Google Charts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <!-- Dibujar el gráfico -->
        <script th:inline="javascript">
            var real_data = /*[[${graphData}]]*/'noValue';
            $(document).ready(function () {
                google.charts.load('current', {
                    packages: ['corechart', 'bar']
                });
                google.charts.setOnLoadCallback(drawColumnChart);
                google.charts.setOnLoadCallback(drawPieChart);
            });
            function drawColumnChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'TipoServicio');
                data.addColumn('number', 'Cantidad');
                Object.keys(real_data).forEach(function (key) {
                    data.addRow([key, real_data[key]]);
                });
                var options = {
                    title: 'Cantidad de viajes por tipo de servicio',
                    hAxis: {
                        title: 'Tipo de servicio'
                    },
                    vAxis: {
                        title: 'Cantidad'
                    }
                };
                var chart = new google.visualization.ColumnChart(document
                        .getElementById('barras'));
                chart.draw(data, options);
            }
            function drawPieChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Tipo de servicio');
                data.addColumn('number', 'Cantidad');
                Object.keys(real_data).forEach(function (key) {
                    data.addRow([key, real_data[key]]);
                });
                var options = {
                    title: 'Cantidad de viajes por tipo de servicio'
                };
                var chart = new google.visualization.PieChart(document
                        .getElementById('circular'));
                chart.draw(data, options);
            }
        </script>
    </head>
    <body>
        <header>
            <div th:insert="menu :: #navBar"></div>
        </header>
        <div class="container">
            <hr>

            <div id="barras"></div>
            <div id="circular"></div>
        </div>
        <footer>
            <div th:insert="menu :: #barraFooter"></div>
        </footer>
    </body>
</html>
