<div id="navBar">
    <nav class="navbar navbar-expand-lg bg-primary">
        <div id="NavBar">
            <nav class="navbar navbar-expand-lg bg-primary">
                <div class="container-fluid">
                    <a th:href="@{/inicio}"><img src="MARM E.I.R.L..png" alt="alt" height="150" width="150"/></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse " id="navbarNav">
                        <ul class="navbar-nav justify-content-end align-items-end">
                            
                            
                            <li class="nav-item">
                                <a class="nav-link text-light" th:href="@{/index}"><h5><i class="mx-3 bi bi-house"></i>Inicio</h5></a>
                            </li>
                            <!--li class="nav-item">
                                <a class="nav-link text-light" th:href="@{/registroEmpleados}"><h5><i class="mx-3 bi bi-person-plus-fill"></i>Conductores</h5></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" th:href="@{/registroFacturas}"><h5><i class="mx-3 bi bi-clipboard-fill"></i>Facturas</h5></a>
                            </li-->
                            <li class="nav-item">
                                <a class="nav-link text-light" th:href="@{/listadoEmpleados}"><h5><i class=" mx-3 bi bi-person-lines-fill"></i>Listado</h5></a>
                            </li>
                           
                            
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </nav>
</div>

<div id="barraFooter">
    <div class="container-fluid justify-content-center align-items-center text-center ">
        <div class="row p-3 bg-primary text-white">
            <div class="col-lg-2">
                <a th:href="@{/}"> <img id="logo" src="MARM E.I.R.L..png" alt="logo" height="150"
                                        width="150"></a>
            </div>
            <div class="col-lg-6">
                <p class="tam-letra-footer">Sitio desarrollado por el GRUPO 1.</br>Correo
                    Electrónico: <a class="text-dark" href="mailto:transportesmarm@gmail.com">transportesmarm@gmail.com</a></br>Curso: Soluciones WEB y Aplicaciones Disribuidas </a></p>
            </div>
            <div class="col-lg-4">
                <a class="me-3" th:href="@{/}"> <img src="facebook.png" alt="fb" height="70"
                                                     width="70"></a>

                <a class="me-3" th:href="@{/}"> <img src="trailer_fondo.png" alt="instagram"
                                                     height="70" width="100"></a>

                <a class="me-3" th:href="@{/}"> <img src="whatsapp.png" alt="whatsapp"
                                                     height="70" width="70"></a>

            </div>
        </div>
    </div>
</div>